* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #414141;               /* Dark gray */
  font-size: 18px;
  font-family: 'Droid Serif', serif;
}

.haiku {
  margin: 0 auto;
  position:fixed; 
  width: 100%;
  left: 20vw;
  top: 20vh;
}

h2 {
  font-size: 9vw;
}

p {
  font-size: 5vw;
}
