<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Your IPs haiku poem</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='static/style.css'/>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Creates a haiku from your ip address" />
    <meta property="og:description" content="Creates a haiku from your ip address using python, pyhipku and flask" />
    <meta property="og:url" content="http://apps.hoyd.net/iphaiku/" />
    <meta property="og:site_name" content="apps.hoyd.net/iphaiku/" />
    <meta property="og:locale" content="en_US" />

<style>
  {
    background-color:rgba({{ ip-color }});
    background-color:rgba(171,22,155,0.27);
  }
</style>
</head>

<body>
    {% if haiku %}
        <div class='haiku'>
            <h2>{{ ip }}</h2>
            <p>{{ haiku | safe }}</p>
        </div>
    {% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45595881-7', 'auto');
  ga('send', 'pageview');
</script>


</body>

</html>
